- how to declare dictionary
- how to access key and values
- how to use loops in dictionary
- indexing in dictionary

In [1]:
student = {
    "name" : "John",
    "age" : 25,
    "course" : "python",
    "marks" : 78
}
print(student)

{'name': 'John', 'age': 25, 'course': 'python', 'marks': 78}

In [2]:
info = dict(name = "John", age = 25, course = "python", marks = 78)
print(info)

{'name': 'John', 'age': 25, 'course': 'python', 'marks': 78}

In [3]:
info = dict(name = input("Enter your name: "), age = int(input("Enter your age: ")),
 course = input("Enter your course: "), marks = int(input("Enter your marks: ")))
print(info)

{'name': 'sdfsd', 'age': 34, 'course': 'dddsdfs', 'marks': 34}

In [4]:
temp = {
    'lucknow' : [25,32,45],
    'kanpur' : [26,33,46],
    'delhi' : [27,34,47],
}
print(temp)

{'lucknow': [25, 32, 45], 'kanpur': [26, 33, 46], 'delhi': [27, 34, 47]}

In [5]:
#1st method to access values through keys
print(student['name'])
print(info['age'])

John
34

In [6]:
#2nd method to access values through keys
print(student.get('course'))

python

In [7]:
#to add item in a dictionary
student['city'] = 'lucknow'
print(student)

{'name': 'John', 'age': 25, 'course': 'python', 'marks': 78, 'city': 'lucknow'}

In [8]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'course', 'marks', 'city'])
dict_values(['John', 25, 'python', 78, 'lucknow'])
dict_items([('name', 'John'), ('age', 25), ('course', 'python'), ('marks', 78), ('city', 'lucknow')])

In [9]:
for k,v in student.items():
    print(f'{k} : {v}')

name : John
age : 25
course : python
marks : 78
city : lucknow

In [10]:
a = 10
b = 35
sum = a + b
print("sum of",a,"and",b,"is",sum)
print(f"sum of {a} and {b} is {sum}")

sum of 10 and 35 is 45
sum of 10 and 35 is 45

In [11]:
company = {
    'emp001':{
        'name' : 'Rahul',
        'age' : 25,
        'dept' : 'IT',
        'salary' : 25000
    },
    'emp002' : {
        'name' : 'Rohit',
        'age' : 26,
        'dept' : 'HR',
        'salary' : 26000
    },
    'emp003' : {
        'name' : 'Raj',
        'age' : 27,
        'dept' : 'Finance',
        'salary' : 27000
    }
}
print(company)

{'emp001': {'name': 'Rahul', 'age': 25, 'dept': 'IT', 'salary': 25000}, 'emp002': {'name': 'Rohit', 'age': 26, 'dept': 'HR', 'salary': 26000}, 'emp003': {'name': 'Raj', 'age': 27, 'dept': 'Finance', 'salary': 27000}}

In [12]:
from pprint import pprint

In [13]:
pprint(company)

{'emp001': {'age': 25, 'dept': 'IT', 'name': 'Rahul', 'salary': 25000},
 'emp002': {'age': 26, 'dept': 'HR', 'name': 'Rohit', 'salary': 26000},
 'emp003': {'age': 27, 'dept': 'Finance', 'name': 'Raj', 'salary': 27000}}

In [14]:
print(company['emp002']['age'])

26

In [15]:
print(temp['lucknow'][1])

32

In [18]:
print(sum(temp['lucknow'])/len(temp['lucknow']))

TypeError: 'int' object is not callable